// ======================================================
//
// ブロックスタイル - セクション1（エディター用）
//
// ======================================================

// ------------------------------------------------------
// 初期設定
// ------------------------------------------------------
@charset 'utf-8';
@import '../../../../src/css/foundation';

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
@import './common'; //フロント・エディター共通のスタイルの読み込み
@import './editor'; //エディター固有のスタイルの読み込み