// ======================================================
//
// パターン固有のスタイル - お客様の声（フロント用）
//
// ======================================================

// ------------------------------------------------------
// 初期設定
// ------------------------------------------------------
@charset 'utf-8';
@import '../../../../src/css/foundation';

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
@import './common'; //フロント・エディター共通のスタイルの読み込み
@import './front'; //フロント固有のスタイルの読み込み
