// ======================================================
//
//   ブロックスタイル：類人猿P002_LP 流れ・手順
//
// - デフォルトは左寄せ
//
// ======================================================

// ------------------------------------------------------
// 初期設定
// ------------------------------------------------------
@charset 'utf-8';
@import '../../../../src/css/block-styles';

// ------------------------------------------------------
// 変数・mixin
// ------------------------------------------------------

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
.is-style-RJE_P002LP_merit{
	padding-top: 3.75rem;
	padding-bottom: 3.75rem;
	@include mq(sm){
		padding-top: 5rem;
		padding-bottom: 6rem;
	}
	> .c-container{
		> .smb-section__subtitle{
			margin-bottom: 1.25rem;
			font-weight: normal;
			opacity: 0.6;
			&::after{
				content: "";
				display: block;
				width: 2em;
				height: 1px;
				margin-top: 0.75rem;
				background-color: var(--accent-color,#cd162c);
				opacity: 0.3;
			}
		}
		>.smb-section__title{
			@include heading2;
			&::after{
				display: none;
			}
		}
		>.smb-section__body{
			margin-top: 2.5rem;
			@include mq(sm){
				margin-top: 4rem;
			}
			@include mq(lg){
				margin-top: 5rem;
			}
		}
	}
	// ------------------------------------------------------
	// パネル
	//
	.smb-panels{
		// padding-top: 4.375rem;
	}
	.smb-panels > .c-row{
		counter-reset: flow-no;
		margin: -1.875rem;
		> .c-row__col{
			position: relative;
			margin-top: 4.375rem;
			margin-bottom: 0;
			padding: 1.875rem 1.25rem;
			@media screen and (min-width: 1050px){
				padding-right: 1.875rem;
				padding-left: 1.875rem;
			}
		}
	}
	.smb-panels__item{
		position: relative;
		padding-top: 4rem;
		padding-right: 2.19rem;
		padding-bottom: 2.5rem;
		padding-left: 2.19rem;
		box-shadow: none;
		&::before{
			content: "";
			position: absolute;
			top: -4rem;
			left: 0;
			display: block;
			width: 100%;
			height: 0;
			border-bottom: solid 4rem #fff;
			border-left: solid 2.5rem transparent;
		}
	}
	.smb-panels__item__figure{
		position: relative;
		margin-top: -4rem;
		>img{
			max-height: 92px;
			width: auto;
		}
	}
	.smb-panels__item__body{
		padding: 1.5rem 0 0 0;
		
	}
	.smb-panels__item__title{
		@include heading4;
	}
	.smb-panels__item__content{
		margin-top: 1rem;
		text-align: left;
		@include paragraph;
	}
	//1カラムの場合
	[data-columns="1"]{
		.smb-panels__item{
			@media screen and (max-width: 639px) {
				max-width: 320px;
				margin-right: auto;
				margin-left: auto;
			}
		}
	}
	[data-md-columns="1"]{
		.smb-panels__item{
			@media screen and (min-width: 640px) and (max-width: 1023px) {
				max-width: 320px;
				margin-right: auto;
				margin-left: auto;
			}
		}
	}
	[data-lg-columns="1"]{
		.smb-panels__item{
			@include mq(lg){
				max-width: 320px;
				margin-right: auto;
				margin-left: auto;
			}
		}
	}
	//4カラム以上
	[data-lg-columns="4"],
	[data-lg-columns="5"],
	[data-lg-columns="6"]{
		> .wp-block-snow-monkey-blocks-panels--item:not(:root){
			@include mq(lg){
				padding: 1.25rem;
			}
		}
		.smb-panels__item{
			@include mq(lg){
				padding: 2.5rem 1.5rem;
			}
		}
	}


	//左寄せ
	//中央寄せ
	&.smb-section-with-bgimage--center{
		> .c-container{
			> .smb-section__subtitle{
				&::after{
					margin-right: auto;
					margin-left: auto;
				}
			}
		}
	}
	//右寄せ
	&.smb-section-with-bgimage--right{
		> .c-container{
			> .smb-section__subtitle{
				&::after{
					margin-right: 0;
					margin-left: auto;
				}
			}
		}
	}
}



