# Common ignore
.DS_Store
vendor/
node_modules/
*.sql

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# This Plugin Specific ignore
## dist file
dist/

## wp-env
/.export/wp-content/
/.export/sql/

## Backstop JS
backstop_data/bitmaps_reference/
backstop_data/bitmaps_test/
backstop_data/html_report/
