// ======================================================
//
// ブロックスタイル - 流れ・手順のパネル（エディター固有のスタイル）
//
// ======================================================

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
.is-style-RJE_R002LP_flow_panels:not(:root){
	.wp-block-snow-monkey-blocks-panels--item--horizontal,
	.wp-block-snow-monkey-blocks-panels--item--free{
		position: relative;
		&::before{
			content: "このパターン内では非推奨です";
			position: absolute;
			top: 1.875rem;
			left: 1.875rem;
			display: block;
			padding: 0.25rem;
			background-color: rgba(#e00, 0.7);
			font-size: 0.75rem;
			font-weight: bold;
			color: #fff;
			z-index: 2;
		}
	}
}
