// ======================================================
//
// ブロックスタイル - 流れ・手順のパネル（エディター固有のスタイル）
//
// ======================================================

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
.is-style-RJE_R002LP_flow_panels:not(:root){
	.smb-panels__item--horizontal,
	.smb-panels__item--free{
		position: relative;
		&::before{
			content: "このパターン内では非推奨です";
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			padding: 0.25rem;
			background-color: rgba(#e00, 0.7);
			font-size: 0.75rem;
			font-weight: bold;
			color: #fff;
			z-index: 2;
		}
		&::after{
			content: none;
		}
	}
}

//HACK:Wp5.9でiframeのプレビュー画面でもスタイルが読み込まれるように下記を追記
html :where(.editor-styles-wrapper) {
	display: block;
}