@charset 'utf-8';

@import '../../../../src/css/block-styles';

.is-style-RJE-section-1{
	padding: 24px 0;
	.c-container{
		padding: 0 24px;
		font-feature-settings: "palt";
		.smb-section__title{
			text-align: left;
			line-height: 1.6;
			font-size: 28px;
			&::after{
				content: none;
			}
		}
		.smb-section__lede{
			font-size: 16px;
			line-height: 1.8;
			max-width :640px;
			margin-top: 24px;
			text-align: left;
		}
	}
}
@include mq(lg) {
	.is-style-RJE-section-1{
		padding: 48px 0;
		.c-container{
			padding: 0 86px;
			.smb-section__lede{
				margin-top: 40px;
			}
		}
	}
	/* スリム */
	.l-body--left-sidebar,
	.l-body--right-sidebar,
	.l-body--one-column-slim,
	.l-body--blank-slim {
		.is-style-RJE-section-1{
			.c-container{
				.smb-section__title{
					font-size: 28px;
				}
				.smb-section__lede{
					font-size: 16px;
				}
			}
		}
	}
	/* フル */
	.l-body--blank-content,
	.l-body--blank,
	.l-body--one-column-full,
	.l-body--one-column,
	.alignfull,
	.alignwide{
		.is-style-RJE-section-1{
			.c-container{
				.smb-section__title{
					font-size: 40px;
				}
				.smb-section__lede{
					font-size: 16px;
				}
			}
		}
	}
}
.is-style-RJE-layered-center{
	.is-style-RJE-section-1{
		.c-container{
			.smb-section__title{
				text-align: center;
				&::after{
					content: "";
					width: 120px;
					margin-top: 24px;
					background-color: #CFCFCF;
					@include mq(md) {
						margin-top: 40px;
					}
				}
			}
			.smb-section__lede{
				text-align: center;
				margin: 24px auto 0;
			}
			@include mq(lg) {
				.smb-section__title{
					&::after{
						margin-top: 40px;
					}
				}
				.smb-section__lede{
					margin: 40px auto 0;
				}
			}
		}
	}
}