@charset 'utf-8';

@import '../../../../src/css/block-styles';

.smb-media-text.is-style-RJE-media-text-fixed-round-slim-1 {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    + .smb-media-text.is-style-RJE-media-text-fixed-round-1,
    + .smb-media-text.is-style-RJE-media-text-fixed-round-slim-1 {
        margin-top: 5rem;
        @include mq(max-lg, max) {
            margin-top: 2.5rem;
        }
    }
    @include template-media-text-fixed-round;
}