// ======================================================
//
// ブロックスタイル - フル幅テンプレ - 最低限の余白（エディタ・フロント共通のスタイル）
//
// ======================================================

// ------------------------------------------------------
// 設定・読み込み・変数など
// ------------------------------------------------------
@use "../../../../src/css/import" as i;

@mixin min_padding() {
	padding-left: .9rem;
	padding-left: calc(var(--_container-margin-sm, .9rem) + env(safe-area-inset-left));
	padding-right: .9rem;
	padding-right: calc(var(--_container-margin-sm, .9rem) + env(safe-area-inset-right));
	@include i.mq(lg){
		padding-left: 1.8rem;
		padding-left: calc(var(--_container-margin, 1.8rem) + env(safe-area-inset-left));
		padding-right: 1.8rem;
		padding-right: calc(var(--_container-margin, 1.8rem) + env(safe-area-inset-right));
	}
}

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
//フル幅・ランディングページのみ左右に最低限余白をつける
body[data-is-full-template="true"]{
	.is-style-RJE_R000HELPER_fullwidth_min_padding{
		@include min_padding;
	}
}

//1カラム系テンプレにてalignfullの場合には左右に余白つける
body[data-is-full-template="false"][data-is-slim-width="false"][data-has-sidebar="false"],
body[data-is-slim-width="true"]:not([data-has-sidebar="true"]){
	.is-style-RJE_R000HELPER_fullwidth_min_padding.alignfull{
		@include min_padding;
	}
}
