// ======================================================
//
// ブロックスタイル - フル幅テンプレ - コンテンツ幅にする（エディタ・フロント共通のスタイル）
//
// ======================================================

// ------------------------------------------------------
// mixin
// ------------------------------------------------------
@mixin max-width() {
	max-width: 1280px;
	max-width: var(--_container-max-width,1280px);
	margin-right: auto;
	margin-left: auto;
	padding-left: .9rem;
	padding-left: calc(var(--_container-margin-sm, .9rem) + env(safe-area-inset-left));
	padding-right: .9rem;
	padding-right: calc(var(--_container-margin-sm, .9rem) + env(safe-area-inset-right));
	@include mq(lg){
		padding-left: 1.8rem;
		padding-left: calc(var(--_container-margin, 1.8rem) + env(safe-area-inset-left));
		padding-right: 1.8rem;
		padding-right: calc(var(--_container-margin, 1.8rem) + env(safe-area-inset-right));
	}
}

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
//フル幅・ランディングページのみ左右に最低限余白をつける
body[data-is-full-template="true"]{
	.is-style-RJE_R000HELPER_fullwidth_max_width .wp-block-group__inner-container{
		@include max-width;
	}
}

//1カラム系テンプレにてalignfullの場合には左右に余白つける
body[data-is-full-template="false"][data-is-slim-width="false"][data-has-sidebar="false"],
body[data-is-slim-width="true"]:not([data-has-sidebar="true"]){
	.is-style-RJE_R000HELPER_fullwidth_max_width.alignfull .wp-block-group__inner-container{
		@include max-width;
	}
}
