// ======================================================
//
//   ブロックスタイル：類人猿P002_LP 伝えたいこと（ノーマル)
//
// - デフォルトは左寄せ
//
// ======================================================

// ------------------------------------------------------
// 初期設定
// ------------------------------------------------------
@charset 'utf-8';
@import '../../../../src/css/block-styles';

// ------------------------------------------------------
// 変数
// ------------------------------------------------------


// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
.is-style-RJE_P002LP_message_normal{
	@media (max-width: 639px){
		overflow: visible;
	}
	//セクションタイトル
	.smb-section__title{
		&::after{
			display: none;
		}
	}
	//大枠
	> .c-container{
		padding-right: 0;
		padding-left: 0;
		//サブタイトル
		> .smb-section__subtitle{
			margin-bottom: 1.25rem;
			opacity: 0.6;
			&::after{
				content: "";
				display: block;
				width: 2em;
				height: 1px;
				margin-top: 0.84em;
				background-color: var(--accent-color,#cd162c);
			}
		}
		//タイトル
		> .smb-section__title{
			@include heading2;
		}
		> .smb-section__body{
			margin-top: 1.25rem;
		}
	}

	// ------------------------------------------------------
	// セクション（右寄せ時のスタイル）
	//
	&.smb-section-with-bgimage--right{
		//大枠
		> .c-container{
			//サブタイトル
			> .smb-section__subtitle{
				&::after{
					margin-right: 0;
					margin-left: auto;
				}
			}
		}
		//タイトル
		.smb-section-break-the-grid__title{
			text-align: left;
		}
		//コンテンツ
		.smb-section-break-the-grid__body{
			text-align: left;
		}
	}

	// ------------------------------------------------------
	// ブロークングリッド（共通）
	//
	.smb-section-break-the-grid{
		padding-top: 0;
		padding-bottom: 0;
		> .c-container{
			padding-right: 0;
			padding-left: 0;
		}
		.c-row {
			position: relative;
			@include mq(sm){
				align-items: flex-start;
			}
		}
		.c-row__col{
			@include mq(sm){
				flex: 0 1 50%;
				max-width: 50%;
			}
			&:first-child{
				@include mq(sm){
					order: 0 !important;
				}
			}
		}
		.smb-section__title{
			@include heading3;
		}
	}
	.smb-section-break-the-grid__content {
		margin-top: -3.875rem;
		padding: 1rem;
		background-color: rgba(#fff,0.6);
		@include mq(sm){
			margin-top: 8.75rem;
			padding: 2.5rem;
		}
		@media (min-width: 40em) and (max-width: 1024px) {
			width: 66vw;
		}
		p{
			line-height: 2.5;
		}
	}
	//画像
	.smb-section-break-the-grid__figure{
		position: relative;
		@include mq(sm){
			width: calc(100% + 10rem);
		}
	}

	// ------------------------------------------------------
	// ブロークングリッド（右寄せ時のスタイル）
	//
	.smb-section-break-the-grid--left{
		//コンテンツ
		.smb-section-break-the-grid__content {
			@include mq(sm){
				left: 8%;
			}
		}
		//画像
		.smb-section-break-the-grid__figure{
			right: -1em;
			@include mq(sm){
				margin-left: -10rem;
			}
		}
	}

	// ------------------------------------------------------
	// ブロークングリッド（左寄せ時のスタイル）
	//
	.smb-section-break-the-grid--left{
		.smb-section-break-the-grid__content {
			left: auto;
			@media (min-width: 40em) and (max-width: 1024px) {
				right: 25vw;
			}
		}
		//画像
		.smb-section-break-the-grid__figure{
			right: 0;
			left: -1rem;
			@include mq(sm){
				margin-right: 10em;
				margin-left: 0;
			}
		}
	}
}



