// ======================================================
//
// ブロックスタイル - セクション1（エディタ・フロント共通のスタイル）
//
// ======================================================

// ------------------------------------------------------
// ローカルmixin
// ------------------------------------------------------
@mixin __section1_lede() {
	margin-top: 1.5rem;
	@include mq(lg){
		width: 70.3%;
		margin-top: 2.5rem;
		margin-right: auto;
		margin-left: auto;
	}
	> .smb-section__lede{
		margin-top: 0;
		font-size: 0.875rem;
		letter-spacing: 0.05em;
		@include mq(lg){
			font-size: 1rem;
			line-height: 2;
		}
	}
}


// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
.is-style-RJE_R002LP_section1:not(:root){
	padding-top: 3.75rem;
	padding-bottom: 3.75rem;
	@include mq(sm){
		padding-top: 5rem;
		padding-bottom: 6rem;
	}
	// ------------------------------------------------------
	// コンテンツコンテナ
	//
	> .smb-section__inner{
		> .c-container{
			// ------------------------------------------------------
			// ヘッダー
			//
			// ----- @deprecated - SMB v12.6.1まで -----
			> .smb-section__subtitle{
				@include smb-section-subtitle;
			}
			> .smb-section__title{
				@include smb-section-title;
			}
			> .smb-section__lede-wrapper{
				@include __section1_lede;
			}
			// ----- SMB v12.6.2から -----
			> .smb-section__contents-wrapper > .smb-section__header{
				.smb-section__subtitle{
					@include smb-section-subtitle;
				}
				.smb-section__title{
					@include smb-section-title;
				}
				.smb-section__lede-wrapper{
					@include __section1_lede;
					text-align: left;
				}
			}
			// ------------------------------------------------------
			// ボディ
			//
			> .smb-section__title, // @deprecated - SMB v12.6.1まで
			> .smb-section__lede-wrapper, // @deprecated - SMB v12.6.1まで
			> .smb-section__contents-wrapper > .smb-section__header{ // SMB v12.6.2から -----
				+ .smb-section__body{
					margin-top: 2.5rem;
					@include mq(sm){
						margin-top: 4rem;
					}
					@include mq(lg){
						margin-top: 5rem;
					}
				}
			}
			> .smb-section__body, // @deprecated - SMB v12.6.1まで
			> .smb-section__contents-wrapper > .smb-section__body{ // SMB v12.6.2から 
				text-align: left;
			}
		}
	}

	// ------------------------------------------------------
	// 左寄せ
	//
	&.smb-section--left{
		> .smb-section__inner{
			> .c-container, // @deprecated - SMB v12.6.1まで
			> .c-container > .smb-section__contents-wrapper > .smb-section__header{ // SMB v12.6.2から 
				> .smb-section__lede-wrapper{
					@include mq(lg){
						margin-left: 0;
					}
				}
				> .smb-section__subtitle::after{
					margin-left: 0;
				}
				//TODO:SMBのバグであればこちらのスタイルは削除
				> .smb-section__title{
					text-align: left;
				}
			}
		}
	}

	// ------------------------------------------------------
	// 右寄せ
	//
	&.smb-section--right{
		> .smb-section__inner{
			> .c-container, // @deprecated - SMB v12.6.1まで
			> .c-container > .smb-section__contents-wrapper > .smb-section__header{ // SMB v12.6.2から
				> .smb-section__lede-wrapper{
					@include mq(lg){
						margin-right: 0;
					}
				}
				> .smb-section__subtitle::after{
					margin-right: 0;
				}
				//TODO:SMBのバグであればこちらのスタイルは削除
				> .smb-section__title{
					text-align: right;
				}
			}
		}
	}
}



