@charset 'utf-8';

@import '../../../../src/css/block-styles';

.editor-styles-wrapper .block-editor-block-list__layout .wp-block {
    &.smb-items.is-style-RJE-items-alignfull-1 {
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        margin-left: calc(50% - 50vw + var(--body-margin-left, 0px)/2);
        margin-right: calc(50% - 50vw + var(--body-margin-left, 0px)/2);
        width: auto;
        max-width: none;
        clear: both;
        .c-row--margin {
            margin-right: -3.5%;
            margin-left: -3.5%;
        }
        &.smb-items--glue>.c-row {
            margin-bottom: 0;
        }
    }
}