@charset 'utf-8';

@import '../../../../src/css/block-styles';

.smb-items.is-style-RJE-items-alignfull-1 {
    .c-row--margin {
        margin-right: -3.5%;
        margin-left: -3.5%;
    }
    &.smb-items--glue>.c-row {
        margin-bottom: 0;
    }
}
[data-has-sidebar=false] .smb-items.is-style-RJE-items-alignfull-1 {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw + var(--body-margin-left, 0px)/2);
    margin-right: calc(50% - 50vw + var(--body-margin-left, 0px)/2);
    width: auto;
    max-width: none;
    clear: both;
}
@include mq(max-lg, max) {
    [data-has-sidebar=true] .smb-items.is-style-RJE-items-alignfull-1 {
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        margin-left: calc(50% - 50vw + var(--body-margin-left, 0px)/2);
        margin-right: calc(50% - 50vw + var(--body-margin-left, 0px)/2);
        width: auto;
        max-width: none;
        clear: both;
    }
}