@charset "utf-8";

.rje-dashboard_widget_news{
	font-size: 13px;
}

.rje-dashboard_widget_footer{
	ul{
		display: flex;
		flex-wrap: wrap;
		padding: 0;
		margin: 12px 0 0;
		padding-top: 12px;
		border-top: 1px solid #f0f0f1;
		font-size: 13px;
		>li{
			display: flex;
			&:not(:first-child)::before{
				content: "";
				display: inline-block;
				width: 1px;
				height: 100%;
				margin-right: 0.25rem;
				margin-left: 0.25rem;
				background-color: #ccc;
			}
		}
	}
}