// ======================================================
//
//   ブロックスタイル：類人猿P002_LP Hero（1カラム)
//
// - デフォルトは中央寄せ
//
// ======================================================

// ------------------------------------------------------
// 初期設定
// ------------------------------------------------------
@charset 'utf-8';
@import '../../../../src/css/block-styles';

// ------------------------------------------------------
// 変数
// ------------------------------------------------------


// ------------------------------------------------------
// 類人猿P002_LP Hero のスタイル
// ------------------------------------------------------
.is-style-RJE_P002LP_hero_one_column{
	min-height: 80vw;
	@media screen and (orientation: portrait) {
		min-height: 90vh;
	}
	@include mq(lg){
		min-height: 47vw;
		margin-bottom: 6.25em;
	}
	//セクション背景
	.smb-section-with-bgimage__bgimage{
		max-width: calc(100% - 2em);
		margin-right: 1em;
		margin-left: 1em;
		@include mq(sm){
			max-width: (100% - 8.32%);
			margin-right: auto;
			margin-left: auto;
		}
	}
	//セクションの内包
	.c-container{
		padding-right: 1em;
		padding-left: 1em;
	}
	//セクションタイトル
	.smb-section__title{
		@include heading1;
		&::after{
			display: none;
		}
		
	}
	//セクションボディ
	.smb-section__body{
		margin-top: 1.5em;
		:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6)+:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6){
			margin-top: 1em;
		}
		.smb-buttons{
			margin-top: 4em;
		}
	}
}