// ======================================================
//
// ブロックスタイル - 伝えたいこと（アクセント2）（エディタ・フロント共通のスタイル）
//
// ======================================================

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
.is-style-RJE_R002LP_message_accent2{
	position: relative;
	padding: 0.625rem;
	@include mq(md){
		padding: 1.25rem;
	}
	.smb-section__inner{
		padding: 2.375rem 1.125rem;
		border: 1px solid #8F8F8F;
		@include mq(md){
			padding: 3.75rem 3.75rem 4.75rem;
		}
		> .c-container{
			> .smb-section__subtitle{
				margin-bottom: 1.25rem;
				font-weight: normal;
				opacity: 0.6;
				&::after{
					content: "";
					display: block;
					width: 2em;
					height: 1px;
					margin-top: 0.75rem;
					margin-right: auto;
					margin-left: auto;
					background-color: var(--accent-color,#cd162c);
					opacity: 0.3;
				}
			}
			>.smb-section__title{
				@include heading2;
				&::after{
					display: none;
				}
			}
			>.smb-section__body{
				margin-top: 2.5rem;
				@include mq(sm){
					margin-top: 5rem;
				}
			}
		}
	}
}