// ======================================================
//
//   ブロックスタイル：類人猿P002_LP 伝えたいこと（アクセント）
//
// - デフォルトは中央寄せ
//
// ======================================================

// ------------------------------------------------------
// 初期設定
// ------------------------------------------------------
@charset 'utf-8';
@import '../../../../src/css/block-styles';

// ------------------------------------------------------
// 変数
// ------------------------------------------------------


// ------------------------------------------------------
// 類人猿P002_LP 伝えたいこと（アクセント） のスタイル
// ------------------------------------------------------
.is-style-RJE_P002LP_message_accent{
	position: relative;
	margin-top: 3rem;
	margin-bottom: 3rem;
	padding: 3rem 1.75rem;
	border: 1px solid #999;
	@include mq(sm){
		margin-top: 5rem;
		margin-bottom: 6rem;
		padding: 5rem;
	}
	&::before,
	&::after{
		content: "";
		position: absolute;
		display: block;
		width: 3.75rem;
		height: 1px;
		background-color: #999;
		transform: rotate(-60deg);
		@include mq(sm){
			width: 6.25rem;
		}
	}
	&::before{
		top: 0.8rem;
		left: -1.425rem;
		@include mq(sm){
			top: 1.7rem;
			left: -2.2rem;
		}
	}
	&::after{
		bottom: 0.8rem;
		right: -1.425rem;
		@include mq(sm){
			bottom: 1.7rem;
			right: -2.2rem;
		}
	}
	>.smb-section__inner{
		> .c-container{
			padding-right: 0;
			padding-left: 0;
			> .smb-section__subtitle{
				margin-bottom: 1.25rem;
				font-weight: normal;
				opacity: 0.6;
				&::after{
					content: "";
					display: block;
					width: 2em;
					height: 1px;
					margin-top: 0.75rem;
					margin-right: auto;
					margin-left: auto;
					background-color: var(--accent-color,#cd162c);
					opacity: 0.3;
				}
			}
			>.smb-section__title{
				@include heading2;
				&::after{
					display: none;
				}
			}
			>.smb-section__body{
				margin-top: 2.5rem;
				@include mq(sm){
					margin-top: 5rem;
				}
			}
		}
	}
}