@charset 'utf-8';

@import '../../../../src/css/block-styles';

.is-style-RJE-child-pages-1 {
	.p-child-pages {
		&__title {
			font-size: 18px;
			line-height: 1.8;
			margin: 0 0 20px;
			padding: 10px 0;
			border-bottom: solid 1px #CFCFCF;
			justify-content: flex-start;
			&::before,
			&::after{
				content: none;
			}
		}
		.c-entries {
			margin: 0;
			padding: 0;
			width: 100%;
			&__item{
				margin: 0 0 24px;
				padding: 0;
				flex: 0 1 100%;
				max-width: 100%;
			}
			.c-entry-summary{
				display: flex;
				align-items: center;
				&__figure{
					width: 80px;
					flex-shrink: 0;
					margin: 0;
					&::before{
						padding-top: 100%;
					}
				}
				&__body{
					padding-left: 16px;
					padding-right: 24px;
				}
				&__header{
					margin: 0;
				}
				&__title{
					font-size: 16px;
					font-weight: 400;
				}
				&__content{
					display: none;
				}
			}
		}
	}
}
.l-body--blank-content,
.l-body--blank,
.l-body--one-column-full,
.alignwide{
	.is-style-RJE-child-pages-1 {
		padding: 0 calc(var(--_space, 1.76923rem)*0.5*var(--_margin-scale, 1));
	}
}
@include mq(md) {
	.is-style-RJE-child-pages-1 {
		.p-child-pages {
			display: flex;
			align-items: stretch;
			&__title {
				padding: 0;
				flex-shrink: 0;
				width: 160px;
				margin: 16px 0;
				border-bottom: none;
				span{
					display: block;
					width: 100%;
					height: 100%;
					padding: 0 20px;
					border-right: solid 1px #CFCFCF;
				}
			}
			.c-entries {
				margin: 0;
				padding: 0 0 0 20px;
				width: calc(100% - 160px);
				&__item{
					margin: 16px 0;
					padding: 0;
					flex: 0 1 50%;
					max-width: 50%;
				}
			}
		}
	}
	.l-body--blank-content,
	.l-body--blank,
	.l-body--one-column-full,
	.alignwide{
		.is-style-RJE-child-pages-1 {
			padding: 0;
		}
	}
}
@include mq(lg) {
	.is-style-RJE-child-pages-1 {
		.p-child-pages {
			.c-entries {
				padding: 0 0 0 40px;
				width: calc(100% - 200px);
				&__item{
					flex: 0 1 33.33333%;
					max-width: 33.33333%;
				}
			}
			&__title {
				font-size: 24px;
				width: 200px;
			}
		}
	}
	.l-body--left-sidebar,
	.l-body--right-sidebar,
	.l-body--one-column-slim,
	.l-body--blank-slim {
		.is-style-RJE-child-pages-1 {
			.p-child-pages {
				.c-entries {
					padding: 0 0 0 20px;
					&__item{
						flex: 0 1 50%;
						max-width: 50%;
					}
				}
			}
		}
	}
	.l-body--one-column-full,
	.l-body--blank,
	.l-body--blank-content,
	.alignfull{
		.is-style-RJE-child-pages-1 {
			.p-child-pages {
				padding: 0 calc(var(--_space, 1.76923rem)*0.5*var(--_margin-scale, 1));
			}
		}
	}
}