@charset 'utf-8';

@import '../../../../src/css/block-styles';

.is-style-RJE-layered-center:not(:root){
	margin-left: calc(50% - 50vw + var(--body-margin-left, 0px)/2);
	margin-right: calc(50% - 50vw + var(--body-margin-left, 0px)/2);
	&.has-background{
		padding: 0;
	}
	.wp-block-cover{
		&__inner-container{
			margin-bottom: 100px;
			p{
				line-height: 1.5;
			}
		}
	}
	.smb-section{
		margin: -100px auto 0;
		width:94%;
		z-index:1;
	}
	@include mq(md) {
		margin-left: 0;
		margin-right: 0;
		.smb-section{
			width:92%;
		}
	}
}