// Breakpoint（Snow Monkeyのブレイクポイントを基準にしています）
$mq-breakpoints: (
	sm: 640px, //40em
	md: 768px,//48em
	max-lg: 1023px, //max指定時のブレイクポイント、WordPressコアにあり 63.9375em
	lg: 1024px, //64em
	xl: 1280px, //80em
) !default;