@charset 'utf-8';

@import '../../../../src/css/block-styles';

.smb-section.smb-section-with-bgimage.is-style-RJE-section-with-bgimage-horizon-1-left {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;
    padding-top: 0;
    padding-bottom: 0;
    background-color: var(--accent-color,#cd162c);
    @include mq(lg) {
        flex-direction: row;
    }
    .smb-section-with-bgimage__bgimage {
        position: static;
        @include mq(lg) {
            order: 2;
        }
        iframe, img, video {
            position: static;
            transform: none;
        }
    }
    > .c-container {
        display: flex;
        width: 100%;
        padding: 1.5rem 5% 2rem;
        flex-direction: column;
        flex-basis: auto;
        @include mq(lg) {
            width: 37rem;
            padding: 5rem;
        }
    }
    .smb-section__title {
        font-size: 1.5rem;
        line-height: 1.8;
        @include mq(sm) {
            font-size: 2.25rem;
        }
        &:after {
            display: none;
            order: 2;
        }
    }
    .smb-section__subtitle {
        color: inherit;
        font-size: 0.75rem;
        line-height: 1.8;
        order: 1;
        @include mq(sm) {
            font-size: 1rem;
        }
    }
    .smb-section__lede {
        margin-top: 2rem;
        font-size: 1rem;
        line-height: 1.8;
        order: 3;
        @include mq(lg) {
            margin-top: 2.5rem;
        }
    }
    .smb-section__body {
        margin-top: 2rem;
        order: 4;
        @include mq(lg) {
            margin-top: 4rem;
        }
    }
}