@charset 'utf-8';

@import '../../../../src/css/block-styles';

.smb-items.is-style-RJE-items-margin-7-1 {
    .c-row--margin {
        margin-right: -3.5%;
        margin-left: -3.5%;
    }
    &.smb-items--glue>.c-row {
        margin-bottom: 0;
    }
}