// ======================================================
//
//   ブロックスタイル：類人猿P002_LP Hero（メディアと文章)
//
// - デフォルトは左寄せスタイル、センターはなし
//
// ======================================================

// ------------------------------------------------------
// 初期設定
// ------------------------------------------------------
@charset 'utf-8';
@import '../../../../src/css/block-styles';

// ------------------------------------------------------
// 変数
// ------------------------------------------------------
$figure-width: 64%; //PC・タブレット時のメディアのコンテナ幅
$content-width: (100% - $figure-width);  //PC・タブレット時のメディアのコンテナ幅

// ------------------------------------------------------
// 類人猿P002_LP Hero のスタイル
// ------------------------------------------------------
.is-style-RJE_P002LP_hero_media_and_text{
	padding-top: 2em;
	padding-bottom: 2em;
	@include mq(sm){
		padding-top: 2vw;
		padding-bottom: 2vw;
	}
	//セクション背景
	.smb-section-with-bgimage__bgimage{
		max-width: 90%;
		margin-left: 10%;
		@include mq(sm){
			max-width: 90%;
			margin-right: 1em;
			margin-left: auto;
		}
		@include mq(lg){
			max-width: 80%;
			margin-right: 3.75em;
			// margin-left: auto;
		}
	}
	//セクションの内包
	.c-container{
		padding-right: 1em;
		padding-left: 1em;
		@include mq(sm){
			max-width: 90%;
			padding-right: 0;
			padding-left: 0;
		}
		@include mq(lg){
			max-width: 80%;
		}
	}
	//セクションボディ
	.smb-section__body{
		// text-align: left;
	}
	//SMBメディアと文章
	.smb-media-text{
		.c-row{
			margin-right: 0;
			margin-left: 0;
		}
		.c-row__col{
			padding-right: 0;
			padding-left: 0;
			//コンテンツ幅
			&:first-child{
				@include mq(lg){
					flex-basis: $content-width;
					max-width: $content-width;
				}
				@media (min-width: 40em) and (max-width: 63.9375em){
					order: 0!important;
					flex-basis: 50%;
					max-width: 50%;
				}
			}
			//イメージ幅
			&:last-child{
				@media (min-width: 40em) and (max-width: 63.9375em){
					flex-basis: 50%;
					max-width: 50%;
				}
				@include mq(lg){
					flex-basis: $figure-width;
					max-width: $figure-width;
				}
			}
		}
	}
	//SMBメディアと文章 - タイトル
	.smb-media-text__title{
		@include heading1;
		br{
			@media (min-width: 40em) and (max-width: 63.9375em){
				display: none;
			}
		}
	}
	//SMBメディアと文章 - 画像
	.smb-media-text__figure{
		text-align: center;
		@media screen and (orientation: portrait) {
			max-height: 48vh;
		}
		img{
			width: auto;
			@media screen and (orientation: portrait) {
				max-height: 48vh;
			}
		}
	}
	// コンテンツ右寄せの場合
	&.smb-section-with-bgimage--right{
		.smb-section-with-bgimage__bgimage{
			margin-right: 10%;
			margin-left: auto;
			@include mq(sm){
				max-width: 90%;
				margin-left: 1em;
				margin-right: auto;
			}
			@include mq(lg){
				max-width: 80%;
				margin-left: 3.75em;
			}
		}
	}
}