// ======================================================
//
// ブロックスタイル - Heroイメージ（1カラム）（エディタ・フロント共通のスタイル）
//
// ======================================================

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
.is-style-RJE_R002LP_hero_one_column:not(:root){
	min-height: 80vw;
	@media screen and (orientation: portrait) {
		min-height: 90vh;
	}
	@include mq(lg){
		min-height: 47vw;
		margin-bottom: 6.25em;
	}
	// ------------------------------------------------------
	// セクション背景
	//
	> .smb-section-with-bgimage__bgimage{
		max-width: calc(100% - 2em);
		margin-right: auto;
		margin-left: auto;
		@include mq(sm){
			max-width: (100% - 8.32%);
		}
		@include mq(lg){
			max-width: 100%;
		}
	}
	// ------------------------------------------------------
	// コンテンツコンテナ
	//
	> .smb-section__inner > .c-container{
		max-width: calc(100% - 2em);
		margin-right: auto;
		margin-left: auto;
		padding-right: 1em;
		padding-left: 1em;
		@include mq(sm){
			max-width: (100% - 8.32%);
		}
		@include mq(lg){
			max-width: 100%;
		}
		// ------------------------------------------------------
		// ヘッダー
		//
		// ----- @deprecated - SMB v12.6.1まで -----
		> .smb-section__title{
			@include heading1;
			&::after{
				display: none;
			}
		}
		// ----- SMB v12.6.2から -----
		> .smb-section__contents-wrapper > .smb-section__header{
			> .smb-section__title{
				@include heading1;
				&::after{
					display: none;
				}
			}
		}
		// ------------------------------------------------------
		// ボディ
		//
		// ----- @deprecated - SMB v12.6.1まで -----
		> .smb-section__body{
			margin-top: 1.5em;
			> :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6){
				margin-top: 1em;
			}
			.smb-buttons{
				margin-top: 4em;
			}
		}
		// ----- SMB v12.6.2から -----
		> .smb-section__contents-wrapper > .smb-section__body{
			margin-top: 1.5em;
			> :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6){
				margin-top: 1em;
			}
			.smb-buttons{
				margin-top: 4em;
			}
		}
	}
}