// ======================================================
//
// ブロックスタイル - Heroイメージ（1カラム）（フロント固有のスタイル）
//
// ======================================================

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
.is-style-RJE_R002LP_hero_one_column:not(:root){
	//サイドバーあり・フル幅のテンプレート以外 かつ セクション自体全幅表示
	body:not([data-has-sidebar="true"]):not([data-is-full-template="true"]) &{
		&.alignfull{
			//セクション背景
			> .smb-section-with-bgimage__bgimage{
				@include mq(lg){
					max-width: (100% - 8.32%);
				}
			}
			//内包コンテナ
			> .c-container{
				@include mq(lg){
					max-width: (100% - 8.32%);
				}
			}
		}
	}
	//フル幅のテンプレートの場合
	body[data-is-full-template="true"] &{
		//セクション背景
		> .smb-section-with-bgimage__bgimage{
			@include mq(lg){
				max-width: (100% - 8.32%);
			}
		}
		//内包コンテナ
		> .c-container{
			@include mq(lg){
				max-width: (100% - 8.32%);
			}
		}
	}
}