// ======================================================
//
// ブロックスタイル - Heroイメージ（1カラム）（フロント固有のスタイル）
//
// ======================================================

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
.is-style-RJE_R002LP_hero_one_column:not(:root){
	// ------------------------------------------------------
	// サイドバーあり or フル幅のテンプレート以外 かつ セクション自体全幅表示
	//
	body:not([data-has-sidebar="true"]):not([data-is-full-template="true"]) &{
		&.alignfull{
			//セクション背景
			> .smb-section-with-bgimage__bgimage{
				@include mq(lg){
					max-width: (100% - 8.32%);
				}
			}
			> .smb-section__inner{
				@include mq(lg){
					max-width: (100% - 8.32%);
					margin-right: auto;
					margin-left: auto;
				}
			}
		}
	}
	// ------------------------------------------------------
	// フル幅のテンプレートの場合
	//
	body[data-is-full-template="true"] &{
		//セクション背景
		> .smb-section-with-bgimage__bgimage{
			@include mq(lg){
				max-width: (100% - 8.32%);
			}
		}
		//内包コンテナ
		> .smb-section__inner{
			@include mq(lg){
				max-width: (100% - 8.32%);
			}
		}
	}
	// ------------------------------------------------------
	// サイドバーありのテンプレート以外 かつ セクション自体が全幅表示
	//
	body:not([data-has-sidebar="true"]) &{
		&.alignfull{
			//セクション背景
			> .smb-section-with-bgimage__bgimage{
				@include mq(lg){
					max-width: (100% - 8.32%);
				}
			}
			//内包コンテナ
			> .smb-section__inner{
				@include mq(lg){
					max-width: (100% - 8.32%);
				}
			}
		}
	}
	// ------------------------------------------------------
	// サイドバーありのテンプレート
	//
	body[data-has-sidebar="true"] &{
		min-height: 90vh;
		> .smb-section-with-bgimage__bgimage{
			max-width: 100%;
		}
	}
}